<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find flat_sdc)/worlds/obstacles.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>


  <param name="robot_description" textfile="$(find flat_sdc)/urdf/flat_car.urdf" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
  <!-- <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
    <param name="publish_frequency" type="double" value="50.0" />
  </node> -->

  <node name="robot_state_publisher_rviz" pkg="robot_state_publisher" type="state_publisher" />
  <arg name="rvizconfig" default="$(find flat_sdc)/rviz/flat_car.rviz" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />



  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
         args="-urdf -model flat_sdc -param robot_description" output="screen" />

</launch>
